# Cerberus config file
# Sequences declared here are added to those in the command line.
# Other options here are overridden by the command line arguments.


[required]
# At least one of these options is required either in the config file or in the command line.
# each can be either a sequence file or a path.
# If a path is specified all sequences in the folder will be loaded.
#euk = path/to/file.fna
#mic = path/to/file.fna
#super = path/to/file.fna
#prot = path/to/file.faa

# euk and mic options expect nucleotide sequences (raw reads or contigs allowed)
# super runs the nucleotide sequence in both modes
# prot expects amino acid sequences

# You may also specify a list of files:
#euk = [path/to/file1.fna, path/to/file2.fna]

# if any of these options is a 


[optional]
#dir_out = path/to/directory
# The current directory will be used if not specified.
# /pipeline/ will be appended to the path.

#scaf = false
# Specifies that sequence(s) should be treated as scaffolds

#meta = false
# Metagenomic flag for Prodigal (Eukaryote)

#minscore = 25
# Filter for parsing HMMER results

#cpus = 12
# Number of CPUs to use per task. The system will try to detect available CPUs if not specified


[dependencies]
# The script will find these in the environment PATH if available.
# Otherwise they must be specified here or in the command line.
# If set here they will override the environment PATH
#EXE_FASTQC = /path/to/fastqc
#EXE_FASTP = /path/to/fastp
#EXE_PORECHOP = /path/to/porechop
#EXE_BBDUK = /path/to/bbduk.sh
#EXE_PRODIGAL = /path/to/prodigal
#EXE_HMMSEARCH = /path/to/hmmsearch
